.main-wrapper {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  height: 100%;
}
main {
  background-color: white;
  max-width: 1920px;
  width: 100%;
  padding: 24px;
  overflow: auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper div {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  font-style: 20px;
}

.wrapper div span {
  text-transform: none;
  font-weight: normal;
}
h2 {
  text-transform: capitalize;
  margin: 24px 0;
}

h2 button {
  margin-left: 12px;
  font-size: 14px;
  padding: 6px 12px;
}

video {
  cursor: pointer;
}
